<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name="/login"  method="post">
        <div align="center" >
            <table border="1" width="60%" >
                <tr>
                    <td colspan=2 align=center><h3>多云后台操作</h3></td>
                </tr>
                <tr>
                    <td height="39" width="463" >
                        <a color="#FFFF00">用户名：</a>
                        <input type="text" maxlength=10 id="username" name="username" maxlength=10 placeholder="用户名" >
                        <a color="#FFFF00">密码：</a><input type="password" name="pwd" maxlength=16 id="pwd" placeholder="密码" >
                    </td>
                </tr>
                <tr>
                    <td height="53" width="463"  colspan="4" align=center >
                        <input type="submit" value="确认">
                        <span style="color: #ff0000">{{ErrorMessage}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>